<form method="post" action="{{ path('app_client_post_delete', {'id_post': post.idPost}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette publication ?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.idPost) }}">
    <button class="btn btn-danger">
        <i class="fas fa-trash-alt"></i> Supprimer la publication
    </button>
</form> 