{% extends 'frontoffice/base.html.twig' %}

{% block title %}Check your email{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Check your email</h1>
                        <p class="card-text">
                            An email has been sent that contains a link that you can click to reset your password.
                            This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                        </p>
                        <p class="card-text">
                            If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 